
.header{
    margin-bottom: 30px;
}
.head{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.sector-1{
    color: rgb(248, 248, 248);
    padding: 20px;
    margin: 10px;
    font-weight: bolder;
    
}
.first-col{
     background-color: rgb(8, 133, 75);
     
}
.second-col{
    background-color: rgb(56, 55, 41);
    
}
/* .form-control{
    width: 400px;
} */
/* #getNumber{
    width: 800px;

} */